*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#contenedor{
    margin-top: 40px;
    width: 700px;
    height: 359px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 245, 252);
    border-radius: 15px;
}

h1{
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
h2{
    margin: 30px 0 30px 0;
}

input{
    margin-bottom: 15px;
}
label{
    margin-bottom: 5px;
    font-weight: 600;
}

p{
    margin: 10px 0 10px 0;
}

input{
    height: 23px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(231, 209, 213);
    outline: none;
}
button{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid rgb(231, 209, 213);
    background-color: #3399ff;
    color: white;
    font-size: 15px;
}
button:hover{
    background-color: #267cd1;
    cursor: pointer;
}